*{
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-family: MuseoSansCyrl;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    letter-spacing: 0.8px;
}
@font-face {
    font-family: MuseoSansCyrl;
    src: url(../fonts/MuseoSansCyrl.otf);
}
:root{
    --index: calc(1vw + 1vh);
}
.header{
    height: 87px;
    
}
.main__header{
    
    box-shadow: 10px 5px 19px 1px #ebebeb  ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
}

.sign__out{
    color:#7953C3;
    background-color: #FFF;
    border: 0.8px solid #7953C3;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    border-radius: 8px;
    transition: 0.25s;
}
button:hover{
    cursor: pointer;
    background-color: #7953C3;
    color: #FFF;
    
}
.logo{
    align-self: center;
    cursor: pointer;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    padding-left: 50px;
    padding-right: 50px;
}

.profile_container{
    width: 1040px;
    height: 1044px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile-create{
    display: flex;
    flex-direction: column;
    background-color:#FFF;
}

.profile_header_content{
    display: flex;
    gap: 16px;
    align-items: end;

}
.create-text{
    display: block;
    font-size: 32px; 
    font-weight: 600; 
    line-height: 40px;
    
    
}
.profile_header_element_2{
    display: flex;
    gap: 16px;
    color: #cccccc;
    flex-direction: row;
    line-height: 30px;
    
}
.about{
    display: flex;
    font-size: 16px; 
    font-weight: 600;
}
.to-main{
    color: #7953C3;
    background-color:#FFF ;
    border: 0.8px solid #7953C3;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    border-radius: 8px;
    transition: 0.25s;
    margin-bottom: 16px;
}
.progbar{
    margin-top: 20px;
    height: 2px;
    background-color: #f4f4f6;
}
.minibar{
    background-color: #d9d1e0;
    height: 2px;
    width: 10%;
}
.main__information{
    display: flex;
    flex-direction: row;
    height: calc(var(--index) * 90);
    gap: 60px;
}
.first_main_block{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}
input{
    background-color: #F4F4F6;
}
.avatar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    height: calc(var(--index) * 10.8);
    width: calc(var(--index) * 20);
    padding:42px 18px;
    border:1px #CDBDDB dashed;
    border-radius:16px;
    gap: 15px;
}
.avatar__button{
    background-color:#7953C3;
    color:#FFF;
    border: 0.8px solid ;
    padding: 8px 40px;
    border-radius: 8px;
    transition: 0.25s;
    line-height: 20px;
}
.avatar__button:hover{
    background-color: #FFF;
    color: #7953C3;
}
.name{
    width: 366px;
}





.second_main_block{
    width:100% ;
}

